@model adresyIOsoby.Models.Adress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
